.section {
    display: grid;
    grid-auto-columns: minmax(60px, auto);
    grid-gap: 10px 10px;
    align-content: center;
    grid-template-rows: auto;
    padding: 10px;
}

.section__item {
    background-color: #fff;
    padding: 10px;
    margin: -4px 0px;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin: -4px 0px;
}
@media(max-width: 767px) {
    .section__header{
        grid-template-columns: 1fr;
    }
        
}

.section__title {
    font-weight: 900;
    font-size: 18px;
    padding: 5px;
    margin: 5px 10px;
}

